@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(236,228,215);
    background: linear-gradient(0deg, rgba(236,228,215,1) 0%, rgba(227,209,172,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    padding: 2em;
    min-height: 100vh;
    min-width: 500px;
}

.title {
    font-family: "Chakra Petch", sans-serif;
    font-size: 48px;
    text-align: center;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
}

.element {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 4px solid black;
    border-radius: 30px;

    cursor: default;
}

.element.with-outer-green::after {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 8px solid #2ecc71; /* Зовнішній бордер */
    border-radius: 30px; /* Заокруглення */
    z-index: -1;
}

.element.with-outer-red::after {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 8px solid #d32417; /* Зовнішній бордер */
    border-radius: 30px; /* Заокруглення */
    z-index: -1;
}

.element.with-outer-gold::after {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 8px solid #e3d80e; /* Зовнішній бордер */
    border-radius: 30px; /* Заокруглення */
    z-index: -1;
}

.element#paper {
    background-color: #FB822F;
}

.element#rock {
    background-color: #2DC9D0;
}

.element#scissors {
    background-color: #FF6C72;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image {
    font-size: 200px;
}

.description {
    font-family: "Playwrite DE Grund", sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 0.5em;
}

.button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2em 0.5em;
    width: 90%;
}

.button-block button {
    display: block;
    border: 2px solid black;
    border-radius: 50px;
    min-height: 3em;
    min-width: 100%;

    font-family: "Verdana", sans-serif;
    font-size: 28px;
    font-weight: 700;

    cursor: pointer;
}

#rock-button {
    background-color: #8adee2;
}

#paper-button {
    background-color: #f8b384;
}

#scissors-button {
    background-color: #fc9b9e;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;

    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
}

.info p {
    font-size: 36px;
}

.score-container {
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.result-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.result-box .restart-button {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-size: 28px;
    padding: 0.5em;
}

.player-score {
    color: green;
}

.computer-score {
    color: red;
}
