* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: chocolate;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
}

.main-text {
    font-size: 52px;
    color: rgb(65, 60, 60);
}

.subtext {
    font-size: 36px;
    color: rgb(40, 39, 39);
}